<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" style="color: #8bbdcb;"></ion-icon>
      </ion-button>
      <ion-row class="ion-align-items-start">
        <ion-col>
          <ion-title id="nombre">INICIO</ion-title>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/Logo_sin_fondo.png" id="logo"></ion-img>
        </ion-col>
      </ion-row>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<br><br><br><br><br><br>
<ion-content [fullscreen]="true" style="text-align:center;">
  <ion-card-title id="titulo">Class-Dash</ion-card-title>
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>¡¡ Bienvenid@ !!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button  (click)="alumno()" expand="block" color="secondary" style="color: black;"> Iniciar Sesión </ion-button>
    </ion-card-content>
    
  </ion-card>
  <ion-card-content > <ion-img src="./assets/duoc_logo.png" id="duoc_logo"> </ion-img> </ion-card-content>
  
</ion-content>

