<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-col>
        <ion-img src="./assets/Logo_sin_fondo.png" id="logo"></ion-img>
      </ion-col>
    </ion-buttons>
    <ion-title id="nombre">Class-Dash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrate!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup] = "formularioRegistro" (keyup.enter)="CrearUsuario()">
        <ion-list>

          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" placeholder="Juanito..." formControlName="nombre"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Email </ion-label>
            <ion-input type="Email" placeholder="Harry@duoc.cl" formControlName="correo" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password </ion-label>
            <ion-input type="password" placeholder="Hakuna Matata" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirma Password</ion-label>
            <ion-input type="password" placeholder="Hakuna Matata" formControlName="confirmaPass"></ion-input>
          </ion-item>

        </ion-list>
        
        <ion-button (click)="CrearUsuario()" expand="block" fill="solid" color="warning" shape="round" routerLink="/alumno"> Enviar </ion-button>

        <ion-button (click)="goBack()" > Volver </ion-button>

      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
